:root {
  --yellow: #fdb811;
  --grey: #e1eefc;
  --blue: #003a78;
  --black: #212529;
  --slate: #4b4b4b;

  --minFontSize: 3px;
  --maxFontSize: 2rem;
  --scaler: 10vw;
  --fluidFontSize: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*
 *  STYLE 4
 */

body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: var(--grey);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border: 2px solid transparent;
}
body::-webkit-scrollbar-thumb :hover {
  background-color: var(--yellow);
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--yellow);
}

::selection {
  color: white;
  background: var(--yellow);
}
